<mat-card class="mat-elevation-z8">
<mat-card-header>
    <mat-card-title> Bem vindo ao DeX SGT</mat-card-title>
    <mat-card-subtitle> O Dex SGT, é um sistema gerenciador de tarefas open source, que nos permite criar, listar e deletar tarefas, ao mesmo tempo em que cadastramos responsaveis para essas tarefas, facilitando assim a organização da sua empresa, seja ela de pequeno, medio ou grande porte, o deX sgt também é facilmente ultilizavel para situações rotineiras otimizando assim seu tempo e esforço, para que você possa realizar tudo o que deseja, ultilize o deX sgt agora mesmo, e veja a produtivdade em massa.</mat-card-subtitle> 
        <img src="assets/img/Work.jpeg" alt="">  
    </mat-card-header>
</mat-card>
